/* CSS Document */
/*------------网站公用样式-------------*/
*{ padding:0; margin:0;}
body{ font-size:12px; font-family:"宋体"; color:#704f24; background: url(/img/index_img/bgbody.jpg) repeat-x #F8F3E0;}
ul,li{ list-style:none;}
img{ border:none;}
a{color:#704f24; text-decoration:none;}
a:hover{ color:#b62a03; text-decoration:underline;}

.mtop10{ margin-top:10px;}
.more{ color:#ff6600; font-weight:bold;}
.clearfloat{clear:both; height:1px; _overflow:hidden;}

.maxmain{ margin:0 auto; width:960px;overflow:hidden; zoom:1;}

.toper{ height:98px;}

.menu{ height:42px; background:url(/img/index_img/bgmenu.jpg) no-repeat; line-height:42px; color:#FFFFFF; padding-left:5px;}
.menu a{ display:block; float:left; width:100px; text-align:center; font-size:14px; color:#FFFFFF;}
.menu a:hover{ color:#FFFFFF; background:url(/img/index_img/bgmun.jpg) no-repeat;}
.menu span{ display:block;float:left;}

.menutwo{ height:42px; background:url(/img/index_img/bgmenu.jpg) no-repeat; line-height:42px; color:#FFFFFF; padding-left:15px; position:relative;}
.menutwo #menufrist a{ display:block; float:left; width:88px; text-align:center; font-size:14px; color:#FFFFFF;}
.menutwo #menufrist a:hover{ color:#FFFFFF; background:url(/img/index_img/bgmun.jpg) no-repeat;}
.menutwo #menufrist span{ display:block;float:left;}
.menutwo .menula{ clear:both; width:100px;position:absolute; display:none;top:0px; line-height:25px; z-index:1;}
.menutwo .menula ul{border:1px solid #D2B570; padding-bottom:1px; background:#FFFFFF;}
.menutwo .menula ul li{ border:1px solid #FFFFFF; border-bottom:none; padding-left:15px; background:#ECCC86; }
.menutwo .menula ul li a{ color:#791A13;}
.menutwo .laa2{ left:109px; padding-top:42px;}
.menutwo .laa8{ left:391px; padding-top:42px;}
.menutwo .laa10{ left:485px;padding-top:42px;}
.menutwo .laa12{ left:579px; padding-top:42px;}
.menutwo .laa14{ left:673px; padding-top:42px;}


































