@charset "utf-8";
/* CSS Document */
/*整体样式*/
body{font:Verdana, Geneva, sans-serif;font-size:12px;color:#444;}
html,body,img,ul,li,p,a,h1,h2,strong,h3,em,input,button,dl,dt,dd,table,tr,td,h4,textarea,em{margin:0;padding:0;}
a,a:visited{text-decoration:none;outline:none;}
a:hover{text-decoration:underline;color:#FF4E00;}
a.red,a.red:visited{color:#F81616;}
a.blue,a.blue:visited{color:#07599F;}
img,a img{border:none;}
ul,li{list-style:none;}
li{float:left;}
p{text-indent:2em;}
.container{width:1000px;height:auto;margin:0 auto;}
/*清除浮动*/
.clearFix:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:"";}
.clearFix{zoom:1;}
/*top样式*/
#top{background:#FCFCFC;height:32px;width:100%;}
#top a{display:block;color:#666;float:left;height:32px;padding-left:15px;line-height:32px;margin-right:10px;}
#top a:hover{text-decoration:none;}
#top a.home{background:url(../images/home.gif) 0 45% no-repeat;}
#top a.star{background:url(../images/star.gif) 0 45% no-repeat;}
#top a.sum{background:url(../images/sum.gif) 0 45% no-repeat;}
#top a.yjx{color:#2F6DAC;}
#top a.num{float:right;margin-right:0px;width:49px;background:url(../images/gz_num.gif) 0 50% no-repeat;display:inline;}
#top a.guanzhu{float:right;width:62px;background:url(../images/guanzhu.gif) 0 50% no-repeat;text-indent:-100px;overflow:hidden;margin-right:0px;display:inline;padding-left:3px;}
/*headerTop样式*/
#header{width:100%;height:191px;background:url(../images/headerBg.gif) 0 0 repeat-x;}
.header{width:1000px;height:191px;background:url(../images/header.jpg) 0 0 no-repeat;}
.headerTop{height:140px;position:relative;}
.headerTop .logo{position:absolute;top:37px;left:10px;}
.headerTop .search{width:566px;float:right;padding-top:52px;position:relative;}
.headerTop .search input{border:none;width:331px;background:url(../images/searchBox.jpg) 0 0 no-repeat;padding-left:35px; border-style:none;padding-top:11px;padding-bottom:11px;color:#444;}
.headerTop .search .jbss{display:block;width:92px;height:32px;background:#FFF url(../images/searchBtn.jpg) 0 0 no-repeat;font-family:"Microsoft YaHei";color:#005297;font-size:14px;margin-left:5px;text-align:center;line-height:32px;position:absolute;right:100px;top:56px;}
.headerTop .search .jbss:hover{text-decoration:none;}
.headerTop .search .wytw{color:#FF7902;right:0px;top:56px;}
.headerTop .search ul{position:absolute;top:31px;left:4px}
.headerTop .search ul li a{display:block;width:45px;height:24px;color:#fff;text-align:center;line-height:20px;}
.headerTop .search ul li a:hover{text-decoration:none;}
.headerTop .search ul li a.askTypeHover{background:url(../images/searchType.jpg) 0 0 no-repeat;color:#005297;}
.headerTop .search p{color:#fff;margin-top:5px;text-indent:0;padding-left:5px;}
.headerTop .search p a{color:#fff;}
.headerTop .search p a:hover{color:#FFD200;}
/*nav导航样式*/
.nav ul li{width:111px;height:51px;position:relative;z-index:9999;}
.nav ul li a.tounav{display:block;width:111px;height:51px;text-align:center;line-height:51px;color:#fff;font-family:"Microsoft YaHei";font-size:14px;}
.nav ul li a.tounav:visited{color:#fff;}
.nav ul li a.navHover{background:url(../images/navHover.jpg) 0 bottom no-repeat;text-decoration:none;}
	/*zjtj走进同济样式*/
.nav ul li .subNav{background:#F3F3F3;border-bottom:10px solid #055BA3;width:1000px;position:absolute;top:51px;padding-bottom:20px;z-index:9999;}
.zjtj{left:-111px;}
.zjtj ul li,.xwdt ul li{width:250px;height:auto;background:url(../images/zjtjLine.gif) right top no-repeat;}
.zjtj ul li.last,.xwdt ul li.last{background:none;}
.zjtj ul li img{display:block;margin-top:30px;margin-left:22px;float:left;display:inline;}
.zjtj ul li div{float:right;margin-top:35px;margin-right:20px;display:inline;}
.zjtj ul li div a{display:block;width:112px;height:20px;color:#444;line-height:20px;font-size:12px;margin-bottom:10px;text-align:center;}
.zjtj ul li div a:visited{color:#444;}
.zjtj ul li div a:hover{background:#055BA3 url(../images/zjtjJiao.gif) 5px 50% no-repeat;color:#fff;text-decoration:none;}
	/*新闻动态*/
.xwdt{left:-222px;}
.xwdt ul li p{width:230px;height:25px;background:url(../images/xwdtLine.gif) 0 bottom no-repeat;padding-top:20px;margin:0 auto;text-indent:0;}
.xwdt ul li p a{float:right;color:#F81717;text-align:right;}
.xwdt ul li p a:visited{color:#F81717;}
.xwdt ul li p a.xwtitle{float:left;color:#444;}
.xwdt ul li p a.xwtitle:visited{color:#444;}
.xwdt ul li p a.xwtitle:hover{color:#222;}
.xwdt ul li dl{width:230px;margin:10px auto 0;height:84px;}
.xwdt ul li dl img{display:block;width:80px;height:64px;padding:1px;border:1px solid #D4D4D4;float:left;margin-right:10px;}
.xwdt ul li dl dt{font-weight:bold;line-height:1.5em;}
.xwdt ul li dl dt a{color:#444;}
.xwdt ul li dl dt a:hover{text-decoration:none;color:#FF4E00;}
.xwdt ul li dl dd{color:#666;text-indent:2em;line-height:1.5em;}
.xwdt ul li dl dd a{display:inline;height:12px;color:#F81717;font-size:12px;font-family:"SimSun";margin:0;padding:0;line-height:normal;}
.xwdt ul li dl dd a:visited{color:#F81717;}
	/*男性疾病*/
.nxjb{left:-333px;}
.nxjb ul li{width:200px;height:auto;background:url(../images/nxjbLine.png) right top no-repeat;}
.nxjb ul li.last{background:none;}
.nxjb ul li h2{width:179px;height:33px;margin:10px auto 0;background:url(../images/nxjbNavBg.jpg) 0 0 no-repeat;font-size:12px;color:#333;text-align:center;line-height:30px;}
.nxjb ul li h2 a{color:#444;}
.nxjb ul li h2 a:hover{color:#FF4E00;text-decoration:none;}
table{width:180px;margin:0 auto;}
td{width:90px;padding:4px 0px;}
.nxjb ul li td a,dd.dia a{color:#666;}
.nxjb ul li td a:visited,dd.dia a:visited{color:#666;}
.nxjb ul li td a:hover,dd.dia a:hover{color:#055BA3;}
	/*临床症状*/
.lczz{left:-444px;}
.lczz1{width:313px;background:url(../images/nxjbLine.png) right top no-repeat;float:left;height:auto;padding-left:20px;height:120px;}
.lczz1 dt{font-size:12px;color:#333;font-weight:bold;padding-top:20px;width:282px;line-height:30px;}
dd.dia{width:282px;line-height:1.8em;}
	/*患者服务*/
.nav ul li .hzfu{width:112px;}
.nav ul li .hzfu a{display:block;width:112px;height:20px;line-height:20px;text-align:center;margin-top:10px;color:#444;}
.nav ul li .hzfu a:visited{color:#444;}
.nav ul li .hzfu a:hover{background:#055BA3 url(../images/zjtjJiao.gif) 5px 50% no-repeat;color:#fff;text-decoration:none;}
/*当前位置*/
.weizhi{height:42px;width:1000px;margin:0 auto;}
.weizhi p{text-indent:0;line-height:42px;}
.weizhi p a{color:#666;}
.weizhi p a:hover{text-decoration:underline;color:#666;}
.weizhi p a.dangqian,.weizhi p a.dangqian:hover{color:#0062A5;}
/*左侧样式*/
.main{margin-top:0px;}
#left{width:678px;float:left;}
	/*list列表样式*/
#list{margin-top:15px;width:678px;}
#listTop{height:2px;background:url(../images/listTopBg.gif) 0 0 no-repeat;width:678px;}
#listBottom{height:3px;background:url(../images/listBottomBg.gif) 0 0 no-repeat;}
#listCont{width:636px;border-left:1px solid #EEE;border-right:1px solid #EEE;padding:0px 20px;_margin-top:-13px;padding-bottom:28px;}
#listCont h1{font-size:24px;font-family:"Microsoft YaHei";color:#07599f;font-weight:normal;text-align:center;padding-top:25px;margin-bottom:25px;width:636px;overflow:hidden;}
#listCont p{font-size:14px;color:#333;line-height:24px;margin-top:25px;}
#listCont p.laiyuan{width:635px;height:27px;background:url(../images/contentLine.gif) 0 bottom no-repeat;text-indent:0;font-size:12px;color:#444;line-height:normal;margin-top:0px;}
#listCont p.laiyuan span{display:block;height:27px;margin-right:22px;float:left;}
#listCont p.laiyuan span.time{color:#999;}
#listCont p.laiyuan span.zixun{width:88px;margin-right:0px;float:right;}
#listCont p.laiyuan span.zixun a{display:block;width:88px;height:20px;background:url(../images/contZxBtn.jpg) 0 0 no-repeat;overflow:hidden;text-indent:-999px;}
#listCont h3{font-size:14px;color:#f81616;line-height:24px;text-indent:2em;margin-top:25px;}
#listCont h3.black{color:#222;}
#listCont a.zxExpert{display:block;width:207px;height:98px;background:url(../images/ZxExpert.jpg) 0 0 no-repeat;margin:0 auto;text-indent:-999px;overflow:hidden;margin-top:25px;}
#listCont ul{width:635px;height:48px;background:url(../images/underMore.jpg) 0 0 no-repeat;margin-top:25px;}
#listCont ul li{line-height:48px;color:#fff;height:48px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
#listCont ul li.standOne{width:200px;padding-left:10px;}
#listCont ul li.standTwo{width:168px;padding-left:27px;}
#listCont ul li.standTwo a{display:block;width:134px;height:26px;color:#444;line-height:28px;margin-top:10px;padding-left:18px;}
#listCont ul li.standThree{width:230px;}
#listCont ul li.standThree a{display:block;width:230px;height:48px;text-indent:-999px;overflow:hidden;}
/*典型病例*/
.bingli,.zuida,.tishi{margin-top:15px;}
.bingliNav{height:36px;}
span.yuanjiao{display:block;width:2px;height:36px;background:url(../images/mtbdYjL.gif) 0 0 no-repeat;float:left;}
.Nav{width:676px;height:36px;float:left;background:url(../images/mtbdBg.gif) 0 0 repeat-x;position:relative;}
.bingliNav h3{color:#fff;font-family:"Microsoft YaHei";font-size:14px;line-height:36px;background:url(../images/bingliDot.gif) 10px 50% no-repeat;padding-left:36px;float:left;}
.bingliNav .moreYJ{display:block;height:36px;width:170px;background:url(../images/moreBg.jpg) 0 0 no-repeat;float:right;}
a.moreWhite{display:block;width:56px;height:16px;background:url(../images/moreBtnWhite.jpg) 0 0 no-repeat;float:right;margin-top:10px;margin-right:10px;display:inline;text-align:center;line-height:16px;color:#055BA4;}
a.moreWhite:hover{color:#055BA4;}
.bingliCont,.zuidaCont{border:1px solid #EEE;border-top:none;padding:10px;}
.bingliCont ul li{width:212px;margin-right:10px;}
.bingliCont ul li.last{margin-right:0px;}
.bingliCont ul li img{padding:1px;border:1px solid #DDD;}
.bingliCont ul li a,.bingliCont ul li a:hover{color:#07599F;}
.bingliCont ul li strong{display:block;width:212px;text-align:center;margin-top:5px;margin-bottom:6px;overflow:hidden;}
.bingliCont ul li p{line-height:18px;}
.bingliCont ul li a.red,.bingliCont ul li a.red:hover{color:#FC2020;}
/*男科最大样式*/
.zuidaNav h3{background:url(../images/zuidaDot.gif) 10px 50% no-repeat;}
.zuidaCont li{width:125px;height:200px;margin-right:7px;}
.zuidaCont li.last{margin-right:0px;}
/*温馨提示*/
.tishi{border:1px solid #EEE;height:81px;background:url(../images/wxts.jpg) 15px 10px no-repeat;padding-left:128px;padding-top:15px;}
.tishi p{line-height:22px;}
.tishi p span{color:#fc2020;}
/*右侧样式*/
#right{width:307px;float:right;}
/*jbbk疾病百科样式*/
.jbbk,.zhenliao,.dianxing{height:261px;}
.tit{width:32px;height:256px;background:url(../images/titleBg.jpg) 0 0 no-repeat;padding-top:5px;position:relative;float:left;}
.tit h1{font-family:"Microsoft YaHei";font-size:14px;color:#fff;margin:0;padding:0;position:absolute;left:7px;top:10px;font-weight:normal;}
.tit em{font-size:18px;font-family:"Arial";color:#fff;padding-left:4px;}
.tit img{position:absolute;left:7px;bottom:10px;}
.cont{height:259px;width:254px;background:#F9F9F9;border:1px solid #EEE;border-left:none;float:left;padding:0 10px;}
.jbbkCont dl{height:47px;border-bottom:1px dashed #DDD;padding-top:15px;}
.jbbkCont dl.last{border:none;}
.jbbkCont dl dt{width:40px;height:44px;float:left;font-weight:bold;padding-top:3px;*padding-top:5px;*height:42px;}
.jbbkCont dl dd{width:210px;float:left;color:#666;line-height:1.6em;}
/*zhenliao诊疗技术*/
.zhenliao,.yiyuan,.expert,.dianxing{margin-top:15px;}
.zhenliaoCont dl{height:84px;border-bottom:1px dashed #DDD;padding-top:15px;}
.zhenliaoCont dl img{padding:1px;border:1px solid #DDD;float:left;margin-right:10px;}
.zhenliaoCont dl dt{width:142px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;float:left;}
.zhenliaoCont dl dt a,.zhenliaoCont dl dt a:hover{font-weight:bold;color:#07599f;line-height:20px;}
.zhenliaoCont dl dd{line-height:20px;text-indent:2em;float:left;width:142px;}
.zhenliaoCont ul{width:258px;margin:5px auto 0;_width:250px;}
.zhenliaoCont ul li{width:238px;height:24px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;line-height:24px;background:url(../images/yyjjDot.gif) 0px 10px no-repeat;padding-left:10px;_width:230px;}
.zhenliaoCont ul li a{color:#444;}
.zhenliaoCont ul li a:hover{color:#FF4E00;}
/*yiyuan医院品质*/
.yiyuan,.expert{height:329px;}
.yiyuan .tit,.expert .tit{height:325px;background:url(../images/titleBg2.jpg) 0 0 no-repeat;}
.cont1{height:327px;}
.yiyuan dl{height:84px;border-bottom:1px dashed #DDD;padding-top:15px;}
.yiyuan dl img{border:1px solid #DDD;padding:1px;margin-right:10px;float:left;}
.yiyuan dd{text-indent:2em;line-height:1.5em;*float:left;padding-top:5px;}
.yiyuan li{width:79px;margin-right:8px;margin-top:10px;}
.yiyuan li span{display:block;width:79px;overflow:hidden;height:14px;}
.yiyuan li.last{margin-right:0px;}
.yiyuan li img{padding:1px;border:1px solid #DDD;margin-bottom:8px;}
.yiyuan li a,.yiyuan li a:hover{color:#444;}
/*expert专家推荐*/
.expert dl{height:119px;padding-top:15px;}
.expert dl img{padding:1px;border:1px solid #DDD;float:left;margin-right:10px;}
.expert dl dt,.expert dl dd{width:146px;float:left;}
.expert dl dt a,.expert dl dt a:hover{color:#07599f;font-weight:bold;}
.expert dl span{display:block;float:left;width:63px;height:16px;border:1px solid #DEE1E2;background:#F9F9F9;text-align:center;line-height:16px;margin:5px auto;}
.expert dl dd{line-height:1.8em;text-indent:2em;*margin-top:5px;}
.expert ul li{width:80px;height:80px;margin-top:10px;margin-right:6px;}
.expert ul li.last{margin-right:0px;}
/*dianxing专家问答*/
.dianxing{height:277px;}
.dianxing .tit{height:277px;background:url(../images/titleBg3.jpg) 0 0 no-repeat;}
.dianxing .tit img{left:2px}
.cont2{height:275px;padding:0;padding-left:5px;width:259px;padding-right:10px;}
.zjwdCon ul li{width:238px;height:30px;border-bottom:1px dashed #DDD;line-height:30px;background:url(../images/yyjjDot.gif) 0 12px no-repeat;padding-left:10px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.zjwdCon ul li a{color:#444;}
.zjwdCon ul li a:hover{color:#FF4E00;}
.zjwdCon dl{padding-top:15px;}
.zjwdCon dt{height:23px;padding-left:29px;background:url(../images/ask.gif) 0 0 no-repeat;border-bottom:1px dashed #DEDEDE;overflow:hidden;}
.zjwdCon dt a{font-size:14px;font-weight:bold;line-height:23px;color:#444;}
.zjwdCon dt a:hover{color:#222;}
.zjwdCon dd{padding-left:29px;text-indent:2em;background:url(../images/answer.gif) 0 0 no-repeat;height:47px;border-bottom:1px solid #CCC;line-height:1.7em;margin-bottom:3px;color:#666;}
.zjwdCon textarea{width:256px;height:65px;border:1px solid #ACADB2;background:url(../images/tiwen.jpg) 0 0 no-repeat;margin:10px 0;}
#zxzj{width:50px;height:23px;background:url(../images/zxzj.gif) 0 50% no-repeat;padding-left:20px;color:#FF5400;float:left;display:block;line-height:23px;}
#wytw{width:89px;height:23px;background:url(../images/askBtn.jpg) 0 0 no-repeat;text-align:center;line-height:23px;float:right;display:block;color:#fff;}
a#wytw:hover,a#zxzj:hover{text-decoration:none;}
/*hzfw患者服务样式*/
#hzfw{width:1000px;height:266px;margin:0 auto;background:url(../images/hzfwBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4{padding-left:260px;}
#hzfw ul.tabbtn4 li{width:130px;height:82px;background:#F93;margin-left:18px;display:inline;overflow:hidden;text-indent:-9999px;margin-top:15px;}
#hzfw ul.tabbtn4 li a{display:block;width:130px;height:82px;}
#hzfw ul.tabbtn4 li.one{background:url(../images/jzznBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4 li.two{background:url(../images/hdptBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4 li.three{background:url(../images/tsksBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4 li.four{background:url(../images/yydzBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4 li.five{background:url(../images/mzsmBg.jpg) 0 0 no-repeat;}
#hzfw ul.tabbtn4 li.current a{background:url(../images/fwHover.gif) 60px 77px no-repeat;}
.tabcon4{width:770px;height:135px;margin-left:230px;margin-top:20px;overflow:hidden;}
	/*jzzn就诊指南*/
.jzzn,.tsks{padding-left:110px;padding-top:24px;}
.jzzn a{color:#444;line-height:24px;}
.jzzn p{text-indent:0;line-height:24px;height:24px;width:625px;position:relative;}
.jzzn p input{width:130px;background:url(../images/tel.jpg) 0 0 no-repeat;border:none;padding:5px 0;font-size:12px;padding-left:2px;}
.jzzn p a.boda{display:block;width:52px;height:24px;background:url(../images/boda.jpg) 0 0 no-repeat;text-align:center;line-height:24px;position:absolute;right:230px;top:0px;}
.jzzn p a.boda:hover{text-decoration:none;}
	/*hdpt互动平台*/
.hdpt ul.hdtitle,.hdpt ul.hdcont{padding-left:45px;margin-bottom:10px;}
.hdpt ul.hdtitle li,.hdpt ul.hdcont li{width:152px;padding-left:40px;}
.hdpt ul.hdtitle li a{color:#0264b9;}
.hdpt ul.hdcont li{border-right:1px dashed #DDD;}
.hdpt ul.hdcont li.hdcontThree{width:230px;border:none;}
.hdpt ul.hdcont li.hdcontThree a{display:block;margin-bottom:10px;}
	/*tsks特色科室*/
.tsks{padding-top:10px;}
.tsks p{line-height:2em;}
.tsks p a{color:#444;}
	/*yydz医院地址*/
.yydz img{display:block;margin-right:10px;float:left;}
.yydz p{text-indent:0;line-height:1.8em;}
	/*mzsm免责声明*/
.mzsm{padding-left:110px;padding-top:54px;}
.mzsm p{line-height:2em;}
/*footer样式*/
#footer{width:100%;height:227px;background:url(../images/footerBg.jpg) 0 0 repeat-x;margin-top:15px;}
.footer{width:1000px;margin:0 auto;}
.footer ul{padding-left:28px;margin-bottom:45px;}
.footer li{width:105px;height:46px;background:url(../images/footNavLine.gif) right 50% no-repeat;}
.footer li.last{background:none;}
.footer li a{display:block;width:105px;height:46px;text-align:center;line-height:46px;color:#fff;font-size:14px;}
.footer li a:hover{color:#fff;}
.footer p{color:#fff;text-align:center;line-height:2em;}

